<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="bulb"></ion-icon>      
      </ion-button>
    </ion-buttons>
    <ion-title>
      مواعيدك الهامة
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="logo-twitter"></ion-icon>      
      </ion-button>
      <ion-button>
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="/assets/Picture2.svg" alt="صورتك الشخصية">
      <h1 id="a">تسجيل الدخول</h1>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">أسم المستخدم</ion-label>
        <ion-input #username type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">كلمة المرور</ion-label>
        <ion-input #password type="password"></ion-input>
      </ion-item>
      <h4>{{this.a.err}}</h4>
      <br>
      <ion-chip (click)="this.a.login(username.value,password.value)" color="dark" expand="block">
        <ion-icon name="log-in"></ion-icon>        
        <ion-label>تسجيل</ion-label>
      </ion-chip>
      <br>
      <ion-chip routerLink="/info" color="dark" expand="block">
        <ion-icon name="person-add"></ion-icon>        
        <ion-label>تسجيل كمستخدم جديد</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>
</ion-content>

